/* **************************************************
    PRINCIPAL STYLES 
************************************************* **/
:root{
    --background-color: #D1FDFF;
    --primary-color: #102266;
    --body-color: #000000;
    --highlight-color: #427C80;
    --header-color: #F4FBEE;
}
body{
    font-family: 'Lato';
    color: var(--body-color);
    font-family: 'Lato', sans-serif;    
    line-height: 1.29;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 22px;
}
h5{
    font-size: 20px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* **************************************************
    HEADER CONTACT 
************************************************* **/
header{
    background-color: var(--header-color);
    height: 70px;
}
.header__container{
    display: inline-flex;
    justify-content: space-between;
    background: radial-gradient(circle,var(--background-color),#D4FAEE);
    width: 100%;
    height: 50px;
    margin-top: 3px;
}
.header-img{
    margin: auto 4vw;
}
.header-menu{
    text-align: end;
}
/* --- HAMBURGER MENU --- */
#header_navbar{
    position: fixed;
    transition: top 1.3s;
    z-index: 100;
}
#navbar-button{
    height: 50px;
    width: 200px;
    margin: 6px;
}
#navbar-button button{
    width: 80px;
    padding: 0;
    background: none;
    cursor: pointer;
    border: 0;
}
#navbar-button button span{
    border-radius: 5px;
    background-color: var(--highlight-color);
    display: block;
    width: 50%;
    margin: 5px auto;
    height: 6px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* --- HAMBURGER NAME ANIMATIONS --- */
#navbar-button button.open .top-line{
    animation-name: top-line-animation;
}
#navbar-button button.open .mid-line{
    animation-name: mid-line-animation;
}
#navbar-button button.open .bottom-line{
    animation-name: bottom-line-animation;
}
#navbar-button button .top-line{
    animation-name: top-line-animation-close;
}
#navbar-button button .mid-line{
    animation-name: mid-line-animation-close;
}
#navbar-button button .bottom-line{
    animation-name: bottom-line-animation-close;
}
/* --- MENU MOBILE OPTIONS --- */
#menu-mobile-options{
    display: none;
    background-color: var(--header-color);
    position: absolute;
    top: 50px;
    left: 0%;
    min-width: 100vw;
    animation: showNavbar 0.7s ease 0s 1 normal none;
    animation-fill-mode: forwards;
}
.option-item-pc{
    list-style: none;
    margin: auto;
    padding: 10px 15px;
    font-size: 20px;
}
.option-item-pc a{
    color: var(--highlight-color);
}
.option-item{
    text-align: center;
    font-size: 20px;
    list-style: none;
    line-height: 1.7;
}
.option-item a{
    color: var(--highlight-color);
}
/* .option-item:hover{
} 
/* **************************************************
    WHATSAPP CONTACT
************************************************* **/
.whatsapp-contact{
    position: fixed;
    padding: 5px 10px 5px 10px;
    top: 32rem;
    right: 2rem;
    z-index: 100;
    background-color: var(--background-color);
    border-radius: 50%;
    box-shadow: #000000 1px 1px 10px;
}
/* **************************************************
    BANNER PRINCIPAL 
************************************************* **/
main{
    top: 70px;
}
.banner{
    width: 100%;
    background-color: var(--header-color);
}
.banner-title{
    text-align: left;
    align-content: center;
    padding: 1.5vw 2vw;
    width: 95%;
    font-size: 28px;
}
.banner-img{
    width: 100%;
    padding-bottom: 10px;
}
.banner-img img{
    width: 100%;
}
/* --- TYPE WRITER BANNER CARET --- */
.cursor-text{
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}
/* **************************************************
    WHY BUY 
************************************************* **/
.why{
    margin: 15px;
}
.why h2{
    line-height: 0.3;
}
.why-items{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.why-exp{
    width: 100%;
    padding: 0 15px;
}
.why-img{
    margin: auto;
    width: 140px;
}
.why-img img{
    margin: auto;
    margin-bottom: -25px;
    width: 140px;
    justify-items: center;
}
.why-text{
    text-align: center;
}
.why-text p strong{
    font-size: 20px;
}
/* **************************************************
    MODELS 
************************************************* **/
.models{
    padding: 15px;
    background-color: var(--header-color);
}
.models h2{
    line-height: 0.4;
}
.models-container {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
}
.cards {
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 50%;
    transition: all 400ms ease;
    background-size: cover;
    background-position: center;
}
.cards:hover:not(.active).left {
    transform: translateX(-50%) rotate(-10deg) scale(0.9);
}
.cards:hover:not(.active).right {
    transform: translateX(50%) rotate(10deg) scale(0.9);
}
.cards.left {
    transform: translateX(-50%) scale(0.9);
}
.cards.right {
    transform: translateX(50%) scale(0.9);
}
.cards.active {
    z-index: 5;
    position: relative;
}
.cards__inner {
    position: relative;
    padding-bottom: 158.8235294118%;
}
/* **************************************************
    HOW BUY | STEPS 
************************************************* **/
.how{
    /* background-color: var(--header-color); */
    padding: 15px;
}
.how-container{
    margin: 15px 15px;
}
.how-item{
    margin: -15px 0;
    outline: 2px solid var(--highlight-color);
    border-radius: 2px;
}
.item-title{
    text-align: center;
    background-color: var(--background-color);
}
.how-description-impar{
    display: grid;
    grid-template-columns: 30% 1fr;
    margin-top: -25px;
}
.how-description-par{
    display: grid;
    grid-template-columns: 1fr 30%;
    margin-top: -25px;
}
.how-img img{
    max-width: 95%;
    margin: 0 2px;
    padding: auto 10px;
}
.how-text{
    padding: 15px 5px;
}
/* **************************************************
    BLOG | TIPS 
************************************************* **/
.blog{
    margin: 90px 15px;
}
.blog h2{
    line-height: 0.4;
}
.blog-items{
    margin: 3vw 1vw;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 25px;
}

.blog-exp{
    width: 100%;
    padding: 10px;
    outline: var(--highlight-color) solid 2px;
    border-radius: 2px;
}
.blog-img img{
    margin: auto;
    width: 100%;
}
.blog-text{
    text-align: left;
}
.blog-text h3{
    margin: 2px 0;
    line-height: 1.1;
}
.blog-text p{
    margin: 2px 0;
}
/* **************************************************
    FAQS
************************************************* **/
.faqs{
    margin: 15px;
}


/* **************************************************
    FOOTER
************************************************* **/
.footer-container{
    background: radial-gradient(circle,var(--primary-color),#103355);
    color: var(--background-color);
    padding: 5px;
}
.footer-contact{
    margin-top: 10px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.contact-item{
    margin: auto;
    background-color: #D1FDFF;
    width: 40px;
    height: 40px;
    border-radius: 70%;
    padding: auto;
}
.contact-item:hover{
    animation: footerContact 3s ease 0s 2 normal none;
}
.contact-img{
    margin: 20%;
}
.footer-others{
    text-align: center;
}
/* .footer-others{
    padding: 10px;
} */
.footer-container a{
    color: var(--background-color);
}
.footer-final{
    text-align: center;
}
/* **************************************************
    ANIMATIONS 
************************************************* **/
/* --- HAMBURGER MENU HEADER --- */
@keyframes top-line-animation{
    0%, 100%{
        position: relative;
        top: 10px
    }
    50%, 100%{
        margin: 0 auto;
        transform: translateY(6px) rotate(-315deg);
    }
}
@keyframes bottom-line-animation{
    0%, 100%{
        position: relative;
        top: 10px
    }
    50%, 100%{
        margin: 0 auto;
        transform: translateY(-6px) rotate(315deg);
    }
}
@keyframes mid-line-animation{
    20%, 100%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}
@keyframes top-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(6px) rotate(-315deg);
    }
    30%, 100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}
@keyframes bottom-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(-6px) rotate(315deg);
    }
    30%, 100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}
@keyframes mid-line-animation-close{
    0%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
    10%, 100%{
        margin: 0 auto;
        width: 60%;
        opacity: 1;
    }
}
/* --- ||| END HAMBURGER MENU ||| --- */
/* --- SHOW NAVBAR --- */
@keyframes showNavbar{
    0.0%{
        transform: translate(50%);
    }
    100%{
        transform: translate(0);
    }
}
/* --- TYPE WRITER BANNER --- */
@keyframes caret{
    50% {
      border-color: transparent;
    }
}
/* --- FOOTER CONTACT --- */
@keyframes footerContact {
    0.0%{
        top: -30%;
        transform: scale(1);
    }
    100%{
        top: -30%;
        transform: scale(1.01);
    }
    33.8%{
        top: -30%;
        transform: scale(1.4);
    }
}




/* **************************************************
    RESPONSIVE 
************************************************* **/
@media (min-width: 1450px){
    /* --- MENU PC --- */
    .header-menu{
        display: none;
    }
    #menu-mobile-options{
        display: none;
    }
    #menu-pc-options{
        display: flex;
    }
    /* --- WHY --- */
    .why-exp{
        width: 27%;
    }
    /* --- MODELS --- */
    .cards {
        width: 33.33%;
    }
    /* --- HOW --- */
    .how-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .how-item{
        margin: -15px 10px;
        outline: 2px solid var(--highlight-color);
    }  
}
@media (min-width: 1280px) and (max-width: 1449.9px){
    /* --- MENU PC --- */
    .header-menu{
        display: none;
    }
    #menu-mobile-options{
        display: none;
    }
    #menu-pc-options{
        display: flex;
    }
    /* --- BANNER --- */
    .banner-container{
        display: grid;
        grid-template-columns: 30% 1fr;
    }
    .banner-title{
        width: 95%;
        font-size: 290%;
    }
    .banner-img{
        width: 95%;
    }
    .banner-img img{
        width: 100%;
    }
    /* --- WHY --- */
    .why-exp{
        width: 27%;
    }
    /* --- MODELS --- */
    .cards {
        width: 33.33%;
    }     
    /* --- HOW --- */
    .how-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .how-item{
        margin: -15px 10px;
        outline: none;
    }
    /* --- BLOG --- */
    .blog-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .blog-exp{
        width: 95%;
        padding: 10px;
    }     
}
@media (min-width: 900px) and (max-width: 1279.9px){
    /* --- MENU PC --- */
    .header-menu{
        display: none;
    }
    #menu-mobile-options{
        display: none;
    }
    #menu-pc-options{
        display: flex;
    }
    /* --- BANNER --- */
    .banner-container{
        display: grid;
        grid-template-columns: 30% 1fr;
    }
    .banner-title{
        width: 95%;
        font-size: 260%;
    }
    .banner-img{
        width: 95%;
    }
    .banner-img img{
        width: 100%;
    }
    /* --- WHY --- */
    .why-exp{
        width: 27%;
    }
    /* --- MODELS --- */
    .cards {
        width: 30%;
    }
    /* --- HOW --- */
    .how-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .how-item{
        margin: -15px 10px;
        outline: none;
    }
    /* --- BLOG --- */
    .blog-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .blog-exp{
        width: 95%;
        padding: 10px;
    } 
}
@media (min-width: 800px) and (max-width: 899.9px){
    /* --- MENU PC --- */
    .header-menu{
        display: none;
    }
    #menu-mobile-options{
        display: none;
    }
    #menu-pc-options{
        display: flex;
    }
    /* --- BANNER --- */
    .banner-container{
        display: grid;
        grid-template-columns: 35% 1fr;
    }
    .banner-title{
        width: 95%;
        font-size: 220%;
    }
    .banner-img{
        width: 95%;
    }
    .banner-img img{
        width: 100%;
    }
    /* --- WHY --- */
    .why-exp{
        width: 40%;
    }
    /* --- MODELS --- */
    .cards {
        width: 30%;
    }
    /* --- HOW --- */
    .how-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .how-item{
        margin: -15px 10px;
        outline: none;
    }
    /* --- BLOG --- */
    .blog-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .blog-exp{
        width: 95%;
        padding: 10px;
    }         
}
@media (min-width:700px) and (max-width: 799.9px){
    /* --- MENU PC --- */
    .header-menu{
        display: none;
    }
    #menu-mobile-options{
        display: none;
    }
    #menu-pc-options{
        display: flex;
    }
    /* --- BANNER --- */
    .banner-container{
        display: grid;
        grid-template-columns: 35% 1fr;
    }
    .banner-title{
        width: 95%;
        font-size: 200%;
    }
    .banner-img{
        width: 95%;
    }
    .banner-img img{
        width: 100%;
    }    
    /* --- WHY --- */
    .why-exp{
        width: 43%;
    }    
    /* --- MODELS --- */
    .cards {
        width: 35%;
    }
    /* --- HOW --- */
    .how-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .how-item{
        margin: -15px 10px;
        outline: none;
    }
    /* --- BLOG --- */
    .blog-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-exp{
        width: 90%;
        padding: 15px;
    }      
}
@media (min-width: 500px) and (max-width: 699.9px){
    /* --- MENU PC --- */
    #menu-mobile-options{
        display: block;
    }
    #menu-pc-options{
        display: none;
    }
    /* --- BANNER --- */
    .banner-container{
        display: grid;
        grid-template-columns: 40% 1fr;
    }
    .banner-title{
        width: 100%;
        font-size: 170%;
    }
    .banner-img{
        width: 95%;
    }
    .banner-img img{
        width: 100%;
    }  
    /* --- WHY --- */
    .why-exp{
        width: 40%;
    }
    /* --- MODELS --- */
    .cards {
        width: 40%;
    }
    /* --- HOW --- */
    .how-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .how-item{
        margin: -15px 10px;
        outline: none;
    }  
    /* --- BLOG --- */
    .blog-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-exp{
        width: 90%;
        padding: 15px;
    }
}
@media (min-width: 0px) and (max-width: 499.9px){
    /* --- MENU PC --- */
    #menu-mobile-options{
        display: block;
    }
    #menu-pc-options{
        display: none;
    }
}
/* **************************************************
    END? 
************************************************* **/
